{% extends 'base.html' %}
{% load static %}
{% block title %}Citizi | Book Hotel{% endblock %}
{% block style %}
<link href="{% static 'booking_hotel/booking_hotel.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

    <div class="jumbo-book bg-primary text-white  p-5">    
        <div class = >
            <a href="/booking/">
                <b class = "back"> < </b>
            </a>
            <b>Booking Details</b>
        </div>
        <div class = "down d-flex align-items-end p-4">
            <div>
                <h1 class = "ml-3 mb-2"><b>{{ hotel.hotel_name }}</b></h1>
                <div class="d-flex justify-content-start ml-3 mb-2 mt-4">
                    <img class = "pb-2 mr-2" src="{% static 'booking_hotel/location.svg' %}" alt="">
                    <h6>{{ hotel.address }}, {{ hotel.city }} </h6>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}

        <form method="POST" id="form-booking">
            {% csrf_token %}
                <div class="row m-2 justify-content-center">
                    <div class="col-sm-2  col-xs-12 d-flex justify-content-center">
                        <img class = "form-icon" src="{% static 'booking_hotel/people.svg' %}" alt="">
                    </div>
                    <div class="col-sm-5 form-group col-xs-12">
                        <label for="{{BookingForm.customer_name.id_for_label}}" class=form-label>{{BookingForm.customer_name.label}}</label>
                        {% csrf_token %}
                        {{ BookingForm.customer_name }}                
                    </div>
                    <div class="col-sm-5 col-xs-12 form-group">
                        <label for="{{BookingForm.guests.id_for_label}}" class=form-label>{{BookingForm.guests.label}}</label>
                        {% csrf_token %}
                        {{ BookingForm.guests }}
                    </div>
                </div>
                <div class="row m-2 justify-content-center mt-3">
                    <div class="col-sm-2  col-xs-12 d-flex justify-content-center">
                        <img class = "form-icon" src="{% static 'booking_hotel/calendar.svg' %}" alt="">
                    </div>
                    <div class="col-sm-5 form-group col-xs-12">
                        <label for="{{BookingForm.check_in.id_for_label}}" class=form-label>{{BookingForm.check_in.label}}</label>
                        {% csrf_token %}
                        {{ BookingForm.check_in }}
                    </div>
                    <div class="col-sm-5 col-xs-12 form-group">
                        <label for="{{BookingForm.check_out.id_for_label}}" class=form-label>{{BookingForm.check_out.label}}</label>
                        {% csrf_token %}
                        {{ BookingForm.check_out }}
                    </div>
                </div>

                <!-- {% for item in BookingForm %}
                    {% if item.errors %}
                        {{ item.errors }}
                    {% endif %}
                {% endfor %} -->

                <ul class="errorList">

                </ul>
                
                <div class="d-flex justify-content-end m-5">
                    <div class="button-container">
                        <input class="button-container primary-button" type="submit" name="submit" value="Book now" id = "book-now">
                    </div>
                </div>

        </form>
    {% else %}
        <p class = "temukan-hotel">Sorry you are not authenticated</p>
    {% endif %}




{% endblock %}

{% block script %}
<script src="{% static 'booking_hotel/booking_hotel.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#book-now").mouseover(function () { 
            $("#book-now").css("min-width", "150px")
        });
        $("#book-now").mouseleave(function () { 
            $("#book-now").css("min-width", "100px")
        });
        $("#form-booking").on('submit', function(e){
            e.preventDefault();
            postOrder("{% url 'booking_hotel:book_process' hotel.id %}");
        });
    });
</script>
{% endblock %}