{% extends 'base.html' %}
{% load static %}
{% block title %}Citizi | Book Hotel{% endblock %}
{% block style %}
<style>
    .hotel-card {
        color: #505050;
        cursor: pointer;
    }

    .hotel-card:hover {
        color: black;
        text-decoration: none;
    }

    .booking-hotel {
        display: inline-flex;
        margin: 0;
        vertical-align: middle;
        color: white;
        font-family: Raleway;
    }
</style>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid bg-primary pb-4 pt-3 pl-5 mb-4" id="head">
    <div>
        <a class="btn" style="display: inline-flex; padding: 0; margin: 0; vertical-align: top; color: white;"
            href="../" role="button">
            <b>
                <</b> </a> <h6 class="booking-hotel">
                    <b>Booking Hotel</b>
                    </h6>
    </div>
    <div class="row pt-3">
        <div class="col-md-6">
            <div class="form-group">
                <input name="search" class="form-control rounded-pill" id="searchByCity" placeholder="Search by City"
                    required>
            </div>
        </div>
        <button class="btn btn-outline-light rounded-pill ml-3 pt-0 pb-0" style="height: 40px;">Search</button>
    </div>
</div>
<div class="mb-5">
    {% if user.is_authenticated %}
    <div id="card"></div>
    {% else %}
    <div id="card-unauth" onclick="alert('You need to login')"></div>
    {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script>
    var imgLocation = "{% static 'Location.svg' %}";
</script>
<script type="text/javascript" src="{% static 'search_hotel.js' %}"></script>
{% endblock %}