{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}

{% block title %}
Login
{% endblock %}

{% block class %}
bg-primary
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid bg-primary">
	<div class="row mt-5">
		<div class="offset-1"><h2>Login</h2></div>
	</div>
	<div class="row mt-5">
		<form method="post">
			<div class="form-group">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Login</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}