h3 {
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #007EFF;
}

.button-container {
    min-width: 200px;
}

.primary-button {
    margin-top: 8px;
    padding: 12px 14px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #007EFF;
    border: none;
    border-radius: 52px;
    width: 100%;
}

.form-hotel {
    border: none;
    font-weight: bold;
    outline: none;
    color: #343F4B;
    max-width: 100%;
}

.hotel-name {
    font-size: 48px;
    padding: 16px 8px;

}

.hotel-city, .hotel-address {
    font-size: 24px;
    padding: 8px;
}

.form-icon {
    color: #343F4B;
    width: 21px;
    height: 21px;
    margin: 8px;
}

.address p {
    padding-left: 8px;
    margin: 0;
}

container > a {
    text-decoration: none;
}