{% load static %}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

	<a class="navbar-brand" href="#">Citizi</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu-bar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="Menu-bar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'mainapp:crowdTracker' %}">Crowd Tracker</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/booking/">Book Hotel</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'add_hotel:addHotel' %}">Add Hotel</a>
			</li>
		{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
		</ul>
			<span class="nav-text">
				Logged in as {{user.username}}
			</span>
		{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'mainapp:signup' %}">Register</a>
			</li>
		</ul>
		{% endif %}
	</div>
</nav>