{% extends 'base.html' %}
{% load static %}
{% block title %}Citizi | Add Hotel{% endblock %}
{% block style %}
<link href="{% static 'add_hotel.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <a href="{% url 'mainapp:crowdTracker' %}">
        <h3 class="d-inline">
            < Add hotel </h3> </a> {% if user.is_authenticated == False %} <h1>Oops.. you need to login to
                add a new hotel</h1>
                <a href="{% url 'login' %}">Login</a>
                {% else %}
                <div>
                    <div class="container-fluid">
                        <form class="d-flex flex-column" id="post-form">

                            {% csrf_token %}

                            {{ form.hotel_name }}
                            <div class="d-flex flex-row align-items-start w-100">
                                <i class="fa fa-map-marker form-icon"></i>
                                <div class="d-flex flex-column align-items-start address w-100">
                                    <p>City</p>
                                    {% csrf_token %}
                                    {{ form.city }}
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-start w-100">
                                <i class="fa fa-map form-icon"></i>
                                <div class="d-flex flex-column align-items-start address w-100">
                                    <p>Address</p>
                                    {% csrf_token %}
                                    {{ form.address }}
                                </div>
                            </div>

                            {{ form.errors }}

                            <div class="row d-flex justify-content-end">
                                <div class="button-container col-sm-12 col-md-3">
                                    <button class="primary-button" type="button" name="submit" id="addhotel-button">Add
                                        to
                                        database</button>
                                </div>
                            </div>

                            <div id="success-msg"></div>

                            <div id="recently-added"></div>
                        </form>
                    </div>
                </div>
                {% endif %}
</div>
<script type="text/javascript" src="{% static 'addHotel.js' %}"></script>

{% endblock %}